@model HouseEase.ViewModel.LoginViewModel
@{
    ViewData["Title"] = "Log in";
    Layout = "_LayoutLogin";
}

<div class="container">
    <form asp-action="Login" class="login-form" method="post">
        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i></p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_profile"></i></span>
                <input asp-for="Email" class="form-control" placeholder="Username" autofocus>
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input asp-for="Password" class="form-control" placeholder="Password">

            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
            <label class="checkbox">
                <input asp-for="RememberMe"> @Html.DisplayNameFor(m => m.RememberMe)

            </label>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            <a class="btn btn-info btn-lg btn-block" asp-action="Register" asp-controller="Account">Signup</a>
        </div>
    </form>
</div>

